/* =======================================================
*
* 2017/10/19
*	Kohimoto Edit
*
* ======================================================= */
@charset "UTF-8";
/* =======================================================
* reset
* ======================================================= */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, input, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
	-webkit-text-size-adjust:100%;
	margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; font-style:normal;
	-o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
ol, ul, li{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
a{color:#2da5dc; text-decoration:none;}
a:visited{color:#2da5dc; text-decoration:none;}
a:hover{color:#2da5dc;text-decoration:none;}
a:focus, *:focus {outline:none;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
input, select {vertical-align:middle;}
/* =======================================================
* font
* ======================================================= */
@font-face {font-family: 'Noto Sans Japanese';font-style: normal;font-weight: 400;src: url('../font/NotoSansCJKjp-Regular.eot');src:url('../font/NotoSansCJKjp-Regular.eot?#iefix') format('embedded-opentype'),url('../font/NotoSansCJKjp-Regular.woff') format('woff'),url('../font/NotoSansCJKjp-Regular.ttf')  format('truetype');}
@font-face {font-family: 'Noto Sans Japanese';font-style: normal;font-weight: 500;src: url('../font/NotoSansCJKjp-Medium.eot');src: url('../font/NotoSansCJKjp-Medium.eot?#iefix') format('embedded-opentype'),url('../font/NotoSansCJKjp-Medium.woff') format('woff'),url('../font/NotoSansCJKjp-Medium.ttf')  format('truetype');}
@font-face {font-family: 'Noto Sans Japanese';font-style: normal;font-weight: 700;src: url('../font/NotoSansCJKjp-Bold.eot');src: url('../font/NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'),url('../font/NotoSansCJKjp-Bold.woff') format('woff'),url('../font/NotoSansCJKjp-Bold.ttf')  format('truetype');}
/* =======================================================
* common
* ======================================================= */
body {
  font-family: 'Noto Sans Japanese', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  color: #000;
  width: 100%;
	word-break :break-all;
}
.head-top{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 52px;
	width: 1024px;
}
.head-top.various{
	top: 43px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.head-top.various + .head-img{
	height: 470px;
	overflow: hidden;
	background: #000;
}
.head-top.various + .head-img img{
	opacity: 0.8;
}
.contents {
	width: 1024px;
	margin: 0 auto;
}
.iconarea{
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 95px;
}
.iconarea .sns{
	width: 1024px;
	text-align: right;
	padding: 26px 0;
	margin: 0 auto;
}
.iconarea li{
	display: inline-block;
	padding-left: 24px;
}
header .navbar-shrink{
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
	z-index: 5;
	background: #fff;
	opacity: 0.9;
	height: 95px;
	animation: fadeIn 0.8s ease 0s 1 normal;
	-webkit-animation: fadeIn 0.8s ease 0s 1 normal;
}
@keyframes fadeIn{
	0%{opacity: 0}
	100%{opacity: 0.9}
}
header .navbar-shrink .head-top{
	padding-top: 18px;
}
header .navbar-shrink .head-top.various {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
	padding: 18px 0 26px;
	width: 1024px;
}
header .navbar-shrink .head-top .head-top-right .menu-container ul li a{
	color: #000;
}
.navbar-shrink h1 img{
	height: 53px;
}
a, a:hover, a:visited {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.button button {
	color: #fff;
	font-size: 22px;
	line-height: 1;
	padding: 28px 0;
	width: 330px;
}
.button.blue button{
	 background-color: #1f69b4;
}
.button.orange button{
	 background-color: #f7951d;
}
header {
  width: 100%
}
.sub-header{
	 padding-bottom: 80px;
}
.pankuzu {
	background-color: #f6f6f6;
	padding: 20px 0;
	width: 100%;
}
.pankuzu p {
	font-size: 13px;
	line-height: 1;
	width: 1024px;
	margin: 0 auto;
	color: #000;
	font-weight: 400;
}
/* =======================================================
* Home
* ======================================================= */
header {
  position: relative;
  color: #fff;
}
.head-img img {
  width: 100%;
  min-width: 1024px;
}
.head-top .head-top-left{
  float: left;
}
.head-top.various .head-top-left img{
	height: 53px;
}
.head-top .head-top-right{
  float:right;
}
.head-top .head-top-right .menu-container ul{
	overflow: hidden;
  padding-top: 18px;
}
.head-top .head-top-right .menu-container ul li{
  float: left;
  padding-left: 40px;
}
.head-top .head-top-right .menu-container ul li a{
  color: #fff;
}
.head-top .head-top-right .menu-container ul li a:hover{
  /*font-weight: 700;*/
	opacity: 0.7;
}
.head-top.various .head-top-right .menu-container ul li a{
  color: #000;
}
.head-top .head-top-right .menu-container ul li.services {
	position: relative;
}
.head-top .head-top-right .menu-container ul li.services:hover{
	height: 400px
}
.head-top .head-top-right .menu-container ul li.services a:hover + ul,
.head-top .head-top-right .menu-container ul li.services:hover ul {
	animation: fadeIn 0.8s ease 0s 1 normal;
	-webkit-animation: fadeIn 0.8s ease 0s 1 normal;
	display: block;
}
.head-top .head-top-right .menu-container ul li.services a + ul:hover {
	display: block;
}
.head-top .head-top-right .menu-container ul li.services ul {
	background-color: rgba(0,0,0,0.7);
	padding: 35px 28px;
	overflow: visible;
}
.head-top .head-top-right .menu-container ul li.services ul {
	background-color: rgba(0,0,0,0.7);
	padding: 35px 28px;
	z-index: 1;
	position: absolute;
	width: auto;
	top: 40px;
	left: -75px;
	display: none;
}
.head-top .head-top-right .menu-container ul li.services ul:before {
	content: "";
  border:8px solid transparent;
  display: inline-block;
  position: absolute;
  border-bottom-color: #000;
  margin-left: -8px;
  left: 50%;
  top: -16px;
	opacity: 0.7;
}
.head-top .head-top-right .menu-container ul li.services ul li {
	float: none;
	font-size: 14px;
	line-height: 1;
	padding:0 12px 12px;
	border-bottom: 1px solid #888;
	margin-bottom: 16px;
	width: 248px;
	overflow: hidden;
}
.head-top .head-top-right .menu-container ul li.services ul li:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border: 0;
}
.head-top .head-top-right .menu-container ul li.services ul li a{
	color: #fff;
}
.head-top .head-top-right .menu-container ul li.services ul li i{
	text-align: right;
	font-size: 12px;
	float: right;
}
.head-center{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  width: 1024px;
	z-index: 0;
}
.head-center.various{
  top: 60%;
}
.head-center h2{
  font-size: 60px;
  font-weight: 700;
}
.head-center h2 span{
  font-size: 36px;
  font-weight: 400;
}
.head-center.various h2 span{
  font-size: 26px;
}
.contents-top h3 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
}
.contents-top h3 span{
  color: #f7951d;
}
.contents-top p {
  line-height: 1.8;
}
.home .contents-top {
  padding: 80px 0;
}
.cantents-picture .cantents-picture-innner {
  position: relative;
  padding-top: 100%;
  margin-bottom: 50px;
}
.cantents-picture .cantents-picture-innner .customer{
  position: absolute;
  width: 888px;
  top: 0;
  left: 68px;
  right: 0;
  bottom: 0;
}
.cantents-picture .cantents-picture-innner .customer ul{
  overflow: hidden;
}
.cantents-picture .cantents-picture-innner .customer ul li {
  float: left;
  font-size: 24px;
  line-height: 1;
  padding: 13px 60px;
  background-color: #a1a1a1;
  color: #fff;
  border-radius: 25px;
  margin-left: 34.47933px;
}
.cantents-picture .cantents-picture-innner .customer ul li:first-child {
  margin-left: 0;
}
.cantents-picture .cantents-picture-innner .spuare {
  position: absolute;
  font-size: 24px;
  line-height: 1;
  padding: 49px ;
  color: #fff;
  width: 382px;
  height: 122px;
  text-align: center;
}
.cantents-picture .cantents-picture-innner .spuare.dsp {
  top: 171px;
  left: 108px;
  right: 0;
  bottom: 0;
  background-color: #1f69b4;
}
.cantents-picture .cantents-picture-innner .spuare.ssp {
  top: 360px;
  left: 340px;
  right: 0;
  bottom: 0;
  background-color: #f7951d;
}
.cantents-picture .cantents-picture-innner .tpe {
  position: absolute;
  font-size: 22px;
  line-height: 1.5;
  padding: 28px;
  width: 256px;
  height: 122px;
  text-align: center;
  background-color: #d7d7d7;
  border-radius: 20px;
  top: 360px;
  left:40px;
  right: 0;
  bottom: 0;
}
.cantents-picture .cantents-picture-innner .arrow {
  position: absolute;
}
.cantents-picture .cantents-picture-innner .arrow.gray {
  width: 683px;
  top: 50px;
  left: 182px;
  right: 0;
  bottom: 0;
}
.cantents-picture .cantents-picture-innner .arrow.blue {
  width: 289px;
  top: 293px;
  left: 156px;
  right: 0;
  bottom: 0;
}
.cantents-picture .cantents-picture-innner .arrow.orange {
  width: 800px;
  top: 482px;
  left: 116px;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.cantents-picture .cantents-picture-innner .services {
  position: absolute;
  width: 1024px;
  top: 580px;
  left: 0px;
  right: 0;
  bottom: 0;
}
.cantents-picture .cantents-picture-innner .services ul {
  overflow: hidden;
}
.cantents-picture .cantents-picture-innner .services li {
  float: left;
  width: 242.5px;
  padding: 26px;
  border: 1px solid #ededed;
  margin-left: 18px;
  text-align: center;
}
.cantents-picture .cantents-picture-innner .services li:first-child {
  margin-left: 0;
}
.cantents-picture .cantents-picture-innner .services li img{
  width: 140px;
  padding-bottom: 10px;
}
.cantents-picture .cantents-picture-innner .services li h4{
  font-size: 20px;
  padding-bottom: 15px;
}
.cantents-picture .cantents-picture-innner .services li span{
  font-size: 16px;
  color: #f7951d;
  padding-bottom: 20px;
  display: block;
}
.cantents-picture .cantents-picture-innner .services li span:after{
  border-top: 1px solid #f7951d;
  width: 100%;
}
.cantents-picture .cantents-picture-innner .services li p{
  padding-bottom: 20px;
}
.cantents-picture .cantents-picture-innner .services li .button button{
  width: 100%;
  padding: 10px 0;
	color: #fff;
  background-color: #f7951d;
  font-size: 18px;
}
footer{
  background-color: #191919;
  color: #fff;
  text-align: center;
  padding: 60px 0;
}
footer h1 img{
  padding-bottom: 25px;
}
footer .copyright p{
  font-size: 14px;
}
/* =======================================================
* About
* ============241px=========================================== */
.about .leader{
	height: 246px;
	margin-bottom: 12px;
}
.about .leader_u{
	height: 302px;
	margin-bottom: 17px;
}
.about .pic{
	width: 505px;
	/*display: inline-block;*/
	float: left;
	margin-left: 12px;
}
.about .pic:nth-child(odd){
	margin-left: 0px;
}
.about .pic figure{
	margin: 0;
	width: 505px;
	height: 246px;
}
.about figure img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
.about .pic_img{
	font-family: 'object-fit:cover; object-position: 50% 50%;'
}
.about figcaption{
	position: relative;
	bottom: 75px;
	margin-left: 25px;
}
.about figcaption span{
	display: inline-block;
}
.about .pic_u{
	width: 333.0px;
	/*display: inline-block;*/
	float: left;
	margin-left: 12px;
}
.about .pic_u figure{
	margin: 0;
	width: 333.0px;
	height: 307px;
}
.about .pic_u:nth-child(3n+1){
	margin-left: 0px;
}
.map{
	width: 100%;
	height: 1080px;
	background-color: rgb(235,235,235);
	position: relative;
	overflow: hidden;
}
.map h3{
	font-size: 30px;
	text-align: center;
	padding-top: 92px;
}
.map > div{
	text-align: center;
}
.map_img{
	width: 1024px;
	margin: 94px 0 186px 0;
}
.location{
	text-align: center;
	position: relative;
	top: -150px;
}
.location > div{
	width: 1024px;
	margin: 0 auto;
}
.location figure{
	width: 195px;
	/* display: inline-block;*/
	float: left;
	margin: 0;
	background: #000;
	height: 301px;
}
.location figure:not(:nth-child(1)){
	margin-left: 12px;
}
.location figure img{
	width: 195px;
	height: 301px;
	object-fit: cover;
	object-position: 60% 50%;
	opacity: 0.8;
}
.location .pic_img{
	font-family: 'object-fit:cover; object-position: 60% 50%;'
}
.location figcaption{
	font-size: 23px;
	position: relative;
	bottom: 170px;
	color: #fff;
}
.location figcaption span{
	display: none;
}
.location figure figcaption:hover > span,
.location figure img:hover + figcaption span{
	display: block;
	font-size: 14px;
	position: absolute;
	top: -75px;
	text-align: left;
	margin: 15px;
	line-height: 23px;
}
.location figure figcaption:hover > b,
.location figure img:hover + figcaption b{
	/*display: none;*/
	position: absolute;
	top: -95px;
	left: 0;
	margin-left: 15px;
}
.location figure:hover{
	background: rgb(247,149,29);
}
.location figure:hover > img{
	opacity: 0.1;
}
.map .point1 svg{
	position: relative;
	top: -587px;
	left: -394px;
}
.map .point2 svg{
	position: relative;
	top: -620px;
	left: -310px;
}
.map .point3 svg{
	position: relative;
	top: -527px;
	left: 190px;
}
.map .point4 svg{
	position: relative;
	top: -542px;
	left: 210px;
}
.map .point5 svg{
	position: relative;
	top: -502px;
	left: 288px;
}
.map .point6 svg{
	position: relative;
	top: -665px;
	left: 388px;
}
.around{
	opacity: 0.5;
	animation: Flash1 1s infinite;
	/*display: none;*/
}
.around_1 svg{
	position: relative;
	top: -743px;
	left: -279px;
}
.around_2 svg{
	position: relative;
	top: -907px;
	left: -195px;
}
.around_3 svg{
	position: relative;
	top: -947px;
	left: 305px;
}
.around_4 svg{
	position: relative;
	top: -1093px;
	left: 325px;
}
.around_5 svg{
	position: relative;
	top: -1186px;
	left: 403px;
}
.around_6 svg{
	position: relative;
	top: -1480px;
	left: 503px;
}
.disp_none svg circle{
	/*display: none;*/
	fill: #fff;
	opacity: 0;
}
.lightning svg circle{
	opacity: 0.5;
	animation: Flash1 1s infinite;

}
@keyframes Flash1{
	50%{
		opacity: 0;
	}
}
.clear{
	clear: both;
}
/* =======================================================
* Career
* ============241px=========================================== */
.career .leader_u{
	height: 252.15px;
	margin-bottom: 5px;
}
.career figure{
	background: #000;
}
.career figure img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	opacity: 1;
}
.career .pic_img{
	font-family: 'object-fit:cover; object-position: 50% 50%;'
}
.career figure img:hover{
	/*cursor: pointer;*/
	opacity: 0.5;
}
.career figcaption{
	position: relative;
	bottom: 230px;
	margin: 18px;
	font-size: 12.67px;
	line-height: 21px;
	color: #fff;
	display: none;
}
.career figure img:hover + figcaption{
	display: block;
}
.career figure:hover > figcaption{
	display: block;
}
.career figure:hover > img{
	opacity: 0.5;
}
.career figcaption span{
	display: inline-block;
	padding-top: 5px;
}
.career .pic_u{
	width: 252.15px;
	float: left;
	margin-left: 5px;
}
.career .pic_u figure{
	margin: 0;
	width: 252.15px;
	height: 252.15px;
}
.career .pic_u:nth-child(4n+1){
	margin-left: 0px;
}
.career section{
	border-bottom: solid 1px rgb(183,183,183);
	margin-top: 52px;
}
.career section article.explain{
	float: left;
	width: 75%;
}
.career section article.explain h2{
	font-size: 26px;
}
.career section article.explain .place{
	color: rgb(109,109,109);
	margin-bottom: 40px;
	font-size: 26px;
}
.career section article.explain .place + p{
	margin-bottom: 57px;
}
.career section article.button{
	float: right;
	width: 25%;
	position: relative;
}
.career section article.button button{
	padding: 20px 0;
	background-color: #f7951d;
	width: 209px;
	font-size: 15px;
	color: #fff;
	position: absolute;
	right: 0;
	font-family: 'Noto Sans Japanese', sans-serif;
}
/* =======================================================
* Services
* ======================================================= */
.text p {
	line-height: 1.8;
}
.issp-nav {
	border-bottom: 1px solid #f7951d;
}
.issp-nav .issp-nav-innner {
	width: 1024px;
	margin: 0 auto;
}
.issp-nav .issp-nav-innner ul{
	overflow: hidden;
}
.issp-nav .issp-nav-innner ul li{
	float: left;
	text-align: center;
	width: 25%;
	padding: 20px 0 16px;
}
.issp-nav .issp-nav-innner ul li:hover{
	border-bottom: 4px solid #f7951d;
}
.issp-nav .issp-nav-innner ul li.active{
	border-bottom: 4px solid #f7951d;
}
.issp-nav .issp-nav-innner ul li.active a{
	color: #f7951d;
}
.issp-nav .issp-nav-innner ul li a{
	border-left: 1px solid #dbdbdb;
	width: 100%;
	display: block;
	line-height: 1;
	padding: 17px 0;
	height: 52px;
	vertical-align: middle;
}
.issp-nav .issp-nav-innner ul li:last-child a{
	border-right: 1px solid #dbdbdb;
}
.issp-nav-arrow {
	width: 1024px;
	margin: 0 auto;
	height: 7px;
}
.issp-nav-arrow.direct {
	padding-left: 122px;
}
.issp-nav-arrow.headertag {
	padding-left: 378px;
}
.issp-nav-arrow.mobile {
	padding-left: 634px;
}
.issp-nav-arrow.e-commerce {
	padding-left: 890px;
}
.issp-nav-arrow svg {
	height: 7px;
	vertical-align: top;
}
.services .contents-top {
    padding-bottom: 0;
}
.services .contents-middle h3 {
  font-size: 30px;
	font-weight: 600;
  text-align: center;
  padding: 20px 0;
}
.services.e-commerce .contents-middle h3 {
  padding: 20px 0 40px;
}
.services .contents-middle p {
  line-height: 1.8;
	padding-bottom:
}
.services .contents-middle .t-column {
	height: auto;
}
.services.headertag .contents-middle h5,
.services.e-commerce .contents-middle h5  {
	color: #f7951d;
}
.services .t-column {
	overflow: hidden;
	font-size: 16px;
	height: 377px;
}

.services .t-column .left{
	float: left;
	width: 460px;
	padding:60px 0;
}
.services .t-column .center{
	width: 104px;
	float: left;
	text-align: center;
}
.services .t-column .right{
	float: right;
	width: 460px;
	padding:60px 0;
}
.services .t-column section{
	overflow: hidden;
	padding-bottom: 80px;
}
.services .t-column section .icon{
	float: left;
	width: 95px;
}
.services .t-column section .text{
	float: left;
	width: 365px;
}
.services .t-column section .text h5{
	font-size: 22px;
	padding-bottom: 20px;
}
.services .f-section h3 {
	padding: 20px 0 60px;
}
.services .f-section .f-section-inner,
.services .t-section .t-section-inner {
	overflow: hidden;
}
.services .f-section .f-section-inner img {
	padding-bottom: 20px;
}
.services .f-section .f-section-inner section {
	float: left;
	width: 22%;
	padding-left: 4%;
}
.services .t-section .t-section-inner section {
	float: left;
	width: 30%;
	padding-left: 5%;
}
.services .f-section .f-section-inner section:first-child,
.services .t-section .t-section-inner section:first-child {
	padding-left: 0;
}
.services .f-section .f-section-inner section .img img,
.services .t-section .t-section-inner section .img img {
	width: 100%;
}
.services .f-section .f-section-inner section .text p,
.services .t-section .t-section-inner section .text p {
	text-align: center;
}

.services.idsp .t-column section .text h5{
  color: #1f69b4;
}
.services .point {
  height: 16px;
	text-align: center;
}
.services .line.middle {
	padding-left: 182px;
	height: 80px;
}
.services.e-commerce .contents-middle .line.middle {
    padding-left: 330px;
    height: auto;
    text-align: center;
}
.services .line.top {
	text-align: center;
}
.services.direct .t-column section{
	padding-bottom: 0;
}
.services.direct .t-column section .text{
	padding-bottom: 60px;
}
.services.direct .t-column .left section .text{
	float: none;
	width: 100%;
	padding-left: 95px;
}
.services.direct .t-column .left section .text h5{
  color: #00aeef;
}
.services.direct .t-column .right section .text h5{
  color: #8dc63f;
}
.services.direct .bottom.t-column section .text {
	width: auto;
	padding-bottom: 0;
}
.services.direct .bottom.t-column section .text h5 {
	color:#000;
}
.services.direct .bottom.t-column section .text h5 span {
	font-size: 12px;
	color: #c5c5c5;
	line-height: 1;
	padding: 8px 14px;
	border: 1px solid #c5c5c5;
	border-radius: 24px;
	margin-right:12px;
}
.services.direct .bottom.t-column .left section .text {
	padding-left: 0;
}
.services.direct .bottom.t-column	.left ,
.services.direct .bottom.t-column	.center ,
.services.direct .bottom.t-column	.right {
	width:30%;
	padding: 30px 0;
	text-align: left;
	float: left;
}
.services.direct .bottom.t-column	.left ,
.services.direct .bottom.t-column	.center{
	margin-right: 5%;
}
.services.direct .bottom.t-column	.right {
	margin-right: 0;
}
.services.mobile .t-column .left h3{
	padding-bottom: 80px;
}
.services.mobile .t-column .left section .text h5{
  color: #f7951d;
}
.services.dsp .cantents-picture .cantents-picture-innner,
.services.direct .cantents-picture .cantents-picture-innner,
.services.headertag .cantents-picture .cantents-picture-innner,
.services.mobile .cantents-picture .cantents-picture-innner,
.services.e-commerce .cantents-picture .cantents-picture-innner {
  margin-bottom: 0;
}
.services.issp .cantents-picture .cantents-picture-innner .spuare.dsp,
.services.direct .cantents-picture .cantents-picture-innner .spuare.dsp,
.services.headertag .cantents-picture .cantents-picture-innner .spuare.dsp,
.services.mobile .cantents-picture .cantents-picture-innner .spuare.dsp,
.services.e-commerce .cantents-picture .cantents-picture-innner .spuare.dsp {
  background-color: #a1a1a1;
}
.services.idsp .cantents-picture .cantents-picture-innner,
.services.direct .cantents-picture .cantents-picture-innner,
.services.headertag .cantents-picture .cantents-picture-innner,
.services.mobile .cantents-picture .cantents-picture-innner,
.services.e-commerce .cantents-picture .cantents-picture-innner {
  padding-top: 84%;
}
.services.idsp .cantents-picture .cantents-picture-innner .spuare.ssp {
  background-color: #a1a1a1;
}
.services.direct .cantents-picture .cantents-picture-innner .services li.direct,
.services.headertag .cantents-picture .cantents-picture-innner .services li.headertag,
.services.mobile .cantents-picture .cantents-picture-innner .services li.mobile,
.services.e-commerce .cantents-picture .cantents-picture-innner .services li.e-commerce {
    border: 2px solid #f7951d;
}
.services.idsp .cantents-picture .cantents-picture-innner .services ul li h4 {
  color: #a1a1a1;
}
.services.mobile .contents-middle .line.middle {
	padding-left: 111px;
	text-align: center;
}
.services.m-co .contents-middle .line.middle {
	padding-left: 111px;
	text-align: center;
}
.services.mobile .contents-middle .right .img {
	padding-top: 60px;
}
.services.idsp h3 span{
  color: #1f69b4;
}
.over-contents {
	width: 100%;
	max-width: 2000px;
	min-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
.over-contents .contents-inner{
	position: relative;
	width: 1024px;
	margin: 0 auto;
}
.over-contents .over-contents-inner{
	position: relative;
	height: 667px;
	float:left;
	width: 100%;
}
.over-contents .contents-inner .line-position {
	position: absolute;
	padding-left: 405px;
	top: 460px;
}
.over-contents .contents-inner h5{
	 color: #1f69b4;
	 font-size: 22px;
	padding-bottom: 25px
}
.over-contents .over-contents-inner .over-position {
	position: absolute;
	left: -1000px;
}
.over-contents .contents-inner .pointer-position{
	position: absolute;
	padding-left: 512px;
	top: 240px;
}
.over-contents .contents-inner .pointer-position .cercle{
	width: 12px;
	height: 12px;
	position: absolute;
	left: 178px;
}
.over-contents .contents-inner .pointer-position .pointer{
	position: absolute;
	left: 186px;
	top: -11px;
}
.over-contents .contents-inner .pointer-position .text{
	position: absolute;
	top: -24px;
	width: 512px;
}
.over-contents.idsp2 .over-contents-inner .over-position {
	right: -1000px;
	left: auto;
}
.over-contents.idsp2 .contents-inner .pointer-position {
  position: absolute;
  padding-right: 512px;
  padding-left: 0;
  top: 240px;
}
.over-contents.idsp2  .contents-inner .pointer-position .pointer {
  left: 500px;
}
.over-contents.idsp2 .contents-inner .pointer-position .cercle{
	left: 801px;
}

.over-contents .over-contents-inner.headertag .t-column,
.over-contents .over-contents-inner.e-commerce .t-column {
    overflow: hidden;
    width: 1024px;
		height: auto;
    margin: 0 auto;
}
.over-contents .right-img {
    position: absolute;
		right:-1000px;
		top: 100px;
		left: auto;
}
.over-contents .right-img.imac {
    position: absolute;
		top: 20px;
		left: auto;
		right:-1000px;
}
.over-contents .over-contents-inner.headertag,
.over-contents .over-contents-inner.e-commerce {
	height: auto;
}
.contents-bottom .point {
  padding-bottom: 40px;
}
.contents-bottom .line {
  text-align: center;
}
.contents-bottom .line.idsp {
  padding-left: 250px;
}
.contents-bottom h3 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
}
.contents-bottom .button-area {
	overflow: hidden;
	margin: 0 auto;
	width: 700px;
	padding-bottom: 100px;
}
.contents-bottom .button {
	float: left;
	padding-left: 40px;
}
.contents-bottom .button:first-child {
	padding-left: 0;
}
.services.e-commerce .contents-bottom h3 {
	padding: 30px 0 50px;
}
.services.e-commerce .contents-bottom .t-section-inner {
	padding-bottom: 50px
}

.animate-box {
  opacity: 0;
}
